<form [formGroup]="myForm">
  <div>
    <label>Số định kỳ trả lãi</label>
    <input
      aria-label="pay interest num"
      type="text"
      formControlName="payInterestNum"
    />
  </div>

  <br />

  <!-- Form Array of Form Control -->
  <div>
    <p>dates</p>
    <ng-container formArrayName="dates">
      <ng-container *ngFor="let date of dates.controls; let i = index">
        <input
            type="text"
            formControlName="{{i}}"
          />
      </ng-container>
    </ng-container>
  </div>

  <!-- Form Array of Form Group -->
  <div>
    <p>skills</p>
    <ng-container formArrayName="skills">
      <ng-container *ngFor="let skill of skills.controls; let i = index">
        <div [formGroupName]="i">
          <div>
            <label>Tên</label>
            <input
              type="text"
              formControlName="name"
            />
          </div>

          <div>
            <label>Tuổi</label>
            <input
              type="text"
              formControlName="age"
            />
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>


<pre>
  {{myForm.value | json}}
</pre>